h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

::ng-deep .modal:before {
  content: '';
  display: inline-block;
  height: 15vh;
  vertical-align: middle;
  margin-right: -4px;
}
