#add-address-btn{
  padding:  2px 8px 2px 8px;
}

#remove-address-btn{
  padding:  2px 9px 2px 9px;
}

.center-form{
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

#general-block{
  width: 40%;
  padding-top: 27px;
  margin: auto;
}

::ng-deep .modal:before {
  content: '';
  display: inline-block;
  height: 15vh;
  vertical-align: middle;
  margin-right: -4px;
}


#add-address-btn{
  padding:  2px 8px 2px 8px;
}

#remove-address-btn{
  padding:  2px 9px 2px 9px;
}

.center-form{
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.bg-image{
  background-image: url('src/assets/iot.jpg');
  background-size: cover;
  height: inherit;
  background-repeat: repeat;
}


@media (max-width: 576px) {
  #general-block{
    width: 95%;
  }
}

@media (min-width: 576px) {
  #general-block{
    width: 80%;
  }
}

@media (min-width: 768px) {
  #general-block{
    width: 60%;
  }
}

@media (min-width: 992px) {
  #general-block{
    width: 50%;
  }
}

@media (min-width: 1200px) {
  #general-block{
    width: 40%;
  }
}

@media (min-width: 1400px) {
  #general-block{
    width: 35%;
  }
}
